


<div class="top-content">
  <h1 class="mb-2">Top Content Area</h1>
  <p>This area will come into play when layouts are updated from the updated designs Antonio and Kellie are working through.</p>
</div>

<div class="card p-8 mt-4">
  <h2 class="mb-4">Type examples</h2>
  <h1 class="mb-2">Heading 1</h1>
  <h2 class="mb-2">Heading 2</h2>
  <h3 class="mb-2">Heading 3</h3>
  <h4 class="mb-2">Heading 4</h4>
  <h5 class="mb-5">Heading 5</h5>

 
  <h2 class="mb-4">Basic Strategy pill examples</h2>
  <span class="pill support">Support</span>
  <span class="pill neutral">Neutral</span>
  <span class="pill hold-back">Hold Back</span>
  <span class="pill yes">Yes,Continue</span>
  <span class="pill no">No</span>

  <h2 class="mb-4">Activity Component button examples</h2>
  <%= link_to "Continue", '#', class: 'btn continue' %>
  <%= link_to "Save Answer", '#', class: 'btn save' %>
  <%= link_to "Back", '#', class: 'btn back' %>
  <%= link_to "Record Answer", '#', class: 'btn record' %>
  <%= link_to "Edit Answer", '#', class: 'btn edit' %>


<!--TO DO: Might need JS for this FE feature?-->
  <h2 class="mb-4">Tooltip/Onboarding </h2>
  <span class="">Knowing</span>
  <span class="">Identifying</span>
  <span class="">Engaging</span>
  <span class="">Strategy Balloon 1</span>
  <span class="">Strategy Balloon 2</span>



  <h2 class="mb-4">Strategy Finder UI Button Examples</h2>
   <%= link_to "Launch Activity", '#', class: 'btn continue' %>
  <%= link_to "Save Answer", '#', class: 'btn save' %>
  <%= link_to "Back", '#', class: 'btn back' %>
  <%= link_to "Record Answer", '#', class: 'btn record' %>
  <%= link_to "Edit Answer", '#', class: 'btn edit' %>


  <h2 class="mb-4 mt-5">Strategy Generator UI</h2>
  <span class="pill normal">Boost</span>
  <span class="pill normal">Solidify</span></span>
  <span class="pill normal">Spark</span>
  <span class="pill normal">Focus</span>


  <h2 class="mb-4 mt-5">Pill examples</h2>

  <h5 class="mb-2 mt-5">New Pills</h5>
  <span class="pill normal">Normal</span>
  <span class="pill status">Status</span>
  <span class="pill action">Action</span>
  <span class="pill warning">Warning</span>
  <span class="pill warning-upgraded">Upgraded Warning</span>
  <span class="pill urgent">Urgent</span>
  <span class="pill date">Date Field</span>
  <span class="pill">Base Pill</span>

  <%# <h5 class="mb-2 mt-5">New Pills - Small</h5>
  <span class="pill normal small">Normal</span>
  <span class="pill status small">Status</span>
  <span class="pill action small">Action</span>
  <span class="pill warning small">Warning</span>
  <span class="pill warning-upgraded small">Upgraded Warning</span>
  <span class="pill urgent small">Urgent</span>
  <span class="pill date small">Date Pill</span>
  <span class="pill small">Base Pill</span> %>

  <%# <h2 class="mb-4 mt-5">Activity Bar Toggle</h2>

  <span class="pill warning small hover:cursor-pointer"
    data-controller="activity-sidebar--display"
    data-action="click->activity-sidebar--display#toggleSidebar"
    data-activity-sidebar--display-type-param='flag'
    data-activity-sidebar--display-flagid-param='1'
  >
    Warning
  </span> %>
</div>