<!DOCTYPE html>
<html>
  <head>
    <title>InnocentTechApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <h1 class="text-3xl font-bold underline">
        Innocent Tech Application Page
      </h1>
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <div class="container" id="errors">
          <% flash.each do |key, value| %>
            <%= render partial: 'shared/error', locals: { key: key, value: value } %>
          <% end %>
        </div>
        <div class="container main-content">
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </main>
  </body>
</html>
